* {
    padding: 0%;
    margin: 0%;
}

.ground {

    background-color: rgb(216, 162, 92);
    width: auto;
    height: auto;
}

.box {
    background-color: aqua;
    display: inline-block;
    width: 320px;
    height: 200px;
}