* {
    padding: 0;
    margin: 0;
}

.main {
    width: auto;
}

.container{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: rgba(245, 245, 220, 0.027);
}

h6 {
    
    opacity: 0.5;
    padding: 10px 0px 10px 10px;

}

h2 {
    padding-left: 10px;
}

p {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    color: rgba(128, 128, 128, 0.726);
}
.info {
    float: right;
    color: black;
}

.kartice {
    padding: 10px 0;
    display: inline-block;
    width: 400px;
}

.kategorije {
    display: inline-block;
    width: fit-content;
    margin-left: 10px;
    padding-right: 57px;
    padding-left: 1px;
    border-bottom: 1px solid gray;

}
.tekst {
    margin: 10px 5px;
    padding-left: 6px;
}

.poslednji_div {
    border: hidden;
}


.button {
  background-color: slateblue;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 10px 2px 4px 2px;
  cursor: pointer;
  float: right;
  border-radius: 7px;
}

.cena {
    display: inline-block;
    padding: 10px 0 0 7px;
    text-align: center;
    font-size: 25px;
}

.desno {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.055);
    width: 400px;
    height: 400px;
}