* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
}

body {
    padding: 100px 0 0 100px;
    background-color: #f5f5f5;
}

.flex_table {
    display: flex;
    justify-content: center;
    width: 1250px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    height: 60px;
    background-color: #435d7d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
}

.left {
    color: white;
    font-size: 2rem;
}

.right {
    font-weight: 200;
    display: flex;
    width: fit-content;
    height: auto;
    margin-right: 15px;
    gap: 15px;
}

.red {
    display: flex;
    align-items: center;
    background-color: #dc3545;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;

}

.green {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #28a745;
    color: white;
    border-radius: 3px;
    cursor: pointer;

}

table {
    border-collapse: collapse;
    width: 1200px;
}

tr:nth-child(even) {
    background-color: #fcfcfc;
}

tr:hover td {
    background-color: #f5f5f5;
}

tr {
    border-top: 1px solid rgba(169, 169, 169, 0.466);
}

th {
    padding: 15px 5px;
    text-align: left;
}

td {
    padding: 15px 5px;
}

td .material-icons-outlined {
    color: #f55549;
    cursor: pointer;
}

td .edit {
    margin-right: 10px;
    color: #ffc71f;
    cursor: pointer;
}