* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Maven Pro', sans-serif;
}

body {
    padding: 100px 0 0 100px;
    background-color: #f5f5f5;
}

.flex_table {
    display: flex;
    justify-content: center;
    width: 1250px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    height: 60px;
    background-color: #435d7d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
}

.left {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

.red {
    background-color: #dc3545;

}

.green {
    background-color: #28a745;
}

table {
    border-collapse: collapse;
    width: 1200px;
}

tr:nth-child(even) {
    background-color: #fcfcfc;
}

tr:hover td{
    background-color: #f5f5f5;
}

tr {
    border-top: 1px solid rgba(169, 169, 169, 0.466);
}

th {
    padding: 15px 5px;
    text-align: left;
}

td {
    padding: 15px 5px;
}